<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		<a class="navbar-brand" href="/">
			<%= image_tag "brand.png", width: '45', height: '45' %>
			<span>Sephora Lite</span>
		</a>
    	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<!-- <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Action</a>
						</li>
						<li>
						<li role="separator" class="divider"></li>
					</ul>
				</li> -->
				<% if @menu.length > 0 %>
					<% @menu.each do |cat_name, sub_categories| %>
						<li class="dropdown">
							<%= link_to cat_name, "/#{cat_name.downcase}", class: "dropdown-toggle", 'role': 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false' %>
							<ul class="dropdown-menu">
								<% sub_categories.each do |sub_category| %>
									<% sub_category.each do |name, sub_sub_categories| %>
										<li class="sub-category">
											<%= sanitize link_to name, "/#{cat_name.downcase}/#{name.downcase}" %>
										</li>
										<% sub_sub_categories.each do |sub_sub_category| %>
										<li class="sub-sub-category">
											<%= sanitize link_to sub_sub_category, "/#{cat_name.downcase}/#{name.downcase}/#{sub_sub_category.downcase}" %>
										</li>
										<% end %>
									<% end %>
								<% end %>
							</ul>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="main container">
	<div class="header text-center">
		<h1>Sephora Lite</h1>
		<p>Discover the latest in beauty</p>
	</div>

	<div class="content row">
		<% if @products %>

			<% if params[:cat] %>
				<span class="results"><%= pluralize(@products.count, "product") %> found</span>
				<span class="hierarchy-links">
					<% if params[:cat] %>
						<%= link_to @category_name, "/#{params[:cat]}", class:"hierarchy-link" %>
					<% end %>
					<% if params[:cat] && params[:subcat] %>
						<span>&nbsp;>&nbsp;</span>
						<%= link_to @sub_category_name, "/#{params[:cat]}/#{params[:subcat]}", class:"hierarchy-link" %>
					<% end %>
					<% if params[:cat] && params[:subcat] && params[:subsubcat] %>
						<span>&nbsp;>&nbsp;</span>
						<%= link_to @sub_sub_category_name, "/#{params[:cat]}/#{params[:subcat]}/#{params[:subsubcat]}", class:"hierarchy-link" %>
					<% end %>
				</span>
			<% end %>
			<div class="products-list col-md-12">
				<% @products.each_with_index do |product, index| %>
					<% if index % 3 == 0 %>
					<div class="row">
					<% end %>
					<div class="col-md-4 text-center">
						<div class="product-card">
							<%= image_tag product.photo.url, height: '200', width: '200' %>
							<div class="product-details">
								<span class="name"><%= product.name %></span>
								<span class="desc"><%= product.description %></span>
								<span class="price"><%= number_to_currency product.price %></span>
							</div>
						</div>
					</div>
					<% if index % 3 == 2 %>
					</div>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>