<%= render 'layouts/header' %>

<div class="container">
	<h1>Sub Sub Category Page</h1>
	<table class="table table-bordered">
		<tr>
			<th>#</th>
			<td><%= @sub_sub_category.id %></td>
		</tr>
		<tr>
			<th>Name</th>
			<td><%= @sub_sub_category.name %></td>
		</tr>
		<tr>
			<th>Sub Category ID</th>
			<td><%= @sub_sub_category.sub_category_id %></td>
		</tr>
		<tr>
			<th>Created At</th>
			<td><%= @sub_sub_category.created_at %></td>
		</tr>
		<tr>
			<th>Updated at</th>
			<td><%= @sub_sub_category.updated_at %></td>
		</tr>
	</table>
	
	<% sub_category =  @sub_sub_category.sub_category %>
	<% category =  sub_category.category %>

	<%= link_to 'Products', category_sub_category_sub_sub_category_products_path(category, sub_category, @sub_sub_category), class: "btn btn-default" %>
	<%= link_to 'Back', category_sub_category_path(category, sub_category), class: "btn btn-default" %>
</div>