<h1>Sub Category</h1>

<p><%= @sub_category.id %></p>
<p><%= @sub_category.name %></p>
<p><%= @sub_category.category_id %></p>
<p><%= @sub_category.created_at %></p>
<p><%= @sub_category.updated_at %></p>

<h3>Sub Sub Categories </h3>

<%= link_to 'Add new sub sub category', new_category_sub_category_sub_sub_category_path(@category, @sub_category) %>

<table>
	<% @sub_category.sub_sub_categories.each do |sub_sub_category| %>
		<tr>
			<td><%= sub_sub_category.name %></td>
			<td><%= link_to 'Show', category_sub_category_sub_sub_category_path(@category, @sub_category, sub_sub_category) %></td>
			<td><%= link_to 'Edit', edit_category_sub_category_sub_sub_category_path(@category, @sub_category, sub_sub_category) %></td>
			<td><%= link_to 'Delete', category_sub_category_sub_sub_category_path(@category, @sub_category, sub_sub_category),
				method: :delete,
				data: {confirm: 'Are you sure you want to delete?'} %></td>
			<td><%= link_to 'Products', category_sub_category_sub_sub_category_products_path(@category, @sub_category, sub_sub_category) %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', category_path(@category) %>