<%= render 'layouts/header' %>

<div class="container">
	<h1>Categories Page</h1>
	<%= link_to 'Add category', new_category_path, class: "btn btn-primary btn-add" %>
	<table class="table table-bordered">
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Actions</th>
		</tr>
		<% @categories.each do |category| %>
			<tr>
				<td><%= category.id %></td>
				<td><%= category.name %></td>
				<td>
					<%= link_to 'Show', category_path(category), class: "btn btn-success" %>
					<%= link_to 'Edit', edit_category_path(category), class: "btn btn-info" %>
					<%= link_to 'Delete', category_path(category), class: "btn btn-danger",
						method: :delete,
						data: { confirm: 'Are you sure you want to delete?' } %>
				</td>
			</tr>
		<% end %>
	</table>
</div>