<h1>Category</h1>
<ul>
	<% @categories.each do |category| %>
		<li><%= category.name %></li>
		<ul>
			<% category.sub_categories.each do |sub_category| %>
				<li><%= sub_category.name %></li>
				<ul>
					<% sub_category.sub_sub_categories.each do |sub_sub_category| %>
						<li><%= sub_sub_category.name %></li>
						<ul>
							<% sub_sub_category.products.each do |product| %>
								<li>
									<p><%= product.name %></p>
									<p><%= product.description %></p>
									<p><%= product.price %></p>
								</li>
							<% end %>
						</ul> 
					<% end %>
				</ul> 
			<% end %>
		</ul>
	<% end %>
</ul>